body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: black;
}

html,
body{
  cursor: url(./assets/download.png), url(./assets/download.png), pointer;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 